/**
	General Styles
*/
.right {
    float: right;
}
.left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
